{% extends "base.html" %}


{% block body %}

        <div id="popup-search-box">
            <div class="box-inner-wrap d-flex align-items-center">
                <form id="form" action="#" method="get" role="search">
                    <input id="popup-search" type="text" name="s" placeholder="Type keywords here...">
                </form>
                <div class="search-close"><i class="fa-sharp fa-regular fa-xmark"></i></div>
            </div>
        </div>
        <!-- /#popup-search-box -->

        <div class="mobile-side-menu">
            <div class="side-menu-content">
                <div class="side-menu-head">
                    <a href="index-2.html"><img src="../static/assets/img/logo/logo-1.png" alt="logo"></a>
                    <button class="mobile-side-menu-close"><i class="fa-regular fa-xmark"></i></button>
                </div>
                <div class="side-menu-wrap"></div>
                <ul class="side-menu-list">
                    <li><i class="fa-light fa-location-dot"></i>Address : <span>Amsterdam, 109-74</span></li>
                    <li><i class="fa-light fa-phone"></i>Phone : <a href="tel:+01569896654">+01 569 896 654</a></li>
                    <li><i class="fa-light fa-envelope"></i>Email : <a href="mailto:info@example.com">info@example.com</a></li>
                </ul>
            </div>
        </div>
        <!-- /.mobile-side-menu -->
        <div class="mobile-side-menu-overlay"></div>

        <div id="preloader">
            <div class="spinner-logo"><img src="../static/assets/img/favicon.png" alt="logo"></div>
            <div class="spinner"></div>
        </div>
        <!-- ./ preloader -->

        <section class="page-header">
            <div class="bg-item">
                <div class="bg-img" data-background="../static/assets/img/bg-img/page-header-bg.png"></div>
                <div class="overlay"></div>
                <div class="shapes">
                    <div class="shape shape-1"><img src="../static/assets/img/shapes/page-header-shape-1.png" alt="shape"></div>
                    <div class="shape shape-2"><img src="../static/assets/img/shapes/page-header-shape-2.png" alt="shape"></div>
                    <div class="shape shape-3"><img src="../static/assets/img/shapes/page-header-shape-3.png" alt="shape"></div>
                </div>
            </div>
            <div class="container">
                <div class="page-header-content">
                    <h1 class="title">Contact Us</h1>
                    <h4 class="sub-title"><a class="home" href="index-2.html">Home </a><span class="icon">/</span><a class="inner-page" href="contact.html"> Contact Us</a></h4>
                </div>
            </div>
        </section>
        <!-- ./ page-header -->

        <section class="contact-section pt-120 pb-120">
            <div class="container">
                <div class="row gy-lg-0 gy-5">
                    <div class="col-lg-7">
                        <div class="blog-contact-form contact-form">
                            <h2 class="title mb-0">Leave A Reply</h2>
                            <p class="mb-30 mt-10">Fill-up The Form and Message us of your amazing question</p>
                            <div class="request-form">
                                <form action="https://html.rrdevs.net/edcare/mail.php" method="post" id="ajax_contact" class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <div class="form-item">
                                                <input type="text" id="fullname" name="fullname" class="form-control" placeholder="Your Name">
                                                <div class="icon"><i class="fa-regular fa-user"></i></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-item">
                                                <input type="email" id="email" name="email" class="form-control" placeholder="Your Email">
                                                <div class="icon"><i class="fa-sharp fa-regular fa-envelope"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="form-item">
                                                <select name="subject" id="subject" class="niceSelect select-control form-control">
                                                    <option value="">Select Subject</option>
                                                    <option value="2">Plan 1</option>
                                                    <option value="3">Plan 2</option>
                                                    <option value="4">Plan 3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="form-item message-item">
                                                <textarea id="message" name="message" cols="30" rows="5" class="form-control address" placeholder="Message"></textarea>
                                                <div class="icon"><i class="fa-light fa-messages"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit-btn">
                                        <button id="submit" class="ed-primary-btn" type="submit">Submit Message</button>
                                    </div>
                                </form>
                                <div id="form-messages" class="alert mt-20"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="contact-content">
                            <div class="contact-top">
                                <h3 class="title">Office Information</h3>
                                <p>Completely recapitalize 24/7 communities via standards compliant metrics whereas.</p>
                            </div>
                            <div class="contact-list">
                                <div class="list-item">
                                    <div class="icon">
                                        <i class="fa-sharp fa-solid fa-phone"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="title">Phone Number & Email</h4>
                                        <span><a href="tel:+65485965789">(+65) - 48596 - 5789</a></span>
                                        <span><a href="mailto:hello@edcare.com">hello@edcare.com</a></span>
                                    </div>
                                </div>
                                <div class="list-item">
                                    <div class="icon">
                                        <i class="fa-sharp fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="title">Our Office Address</h4>
                                        <p>2690 Hilton Street Victoria Road, <br>New York, Canada</p>
                                    </div>
                                </div>
                                <div class="list-item">
                                    <div class="icon">
                                        <i class="fa-sharp fa-solid fa-clock"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="title">Official Work Time</h4>
                                        <span>Monday - Friday: 09:00 - 20:00</span>
                                        <span>Sunday & Saturday: 10:30 - 22:00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ contact-section -->
{% endblock body %}